.custom-form-wrapper {
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 90%;
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.takeda-id-password-reset-form {
    position: relative;
}

/* Form Input Fields */
.custom-form-wrapper input[type="password"],
.custom-form-wrapper input[type="text"],
.custom-form-wrapper textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Form Submit Button */
.custom-form-wrapper input[type="submit"] {
    background-color: #fdfdfd;
    color: #140101;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.custom-form-wrapper input[type="submit"]:hover {
    background-color: #dd0202;
}

.password-criteria-list {
    list-style-type: disc;
    padding-left: 20px;
}

button[disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
    cursor: not-allowed;
}

.form-heading {
    margin-bottom: 15px;
}

#password-confirmation-message {
    margin-bottom: 5px;
}

/* Password Validation Info */
.password-validation-info {
    position: absolute;
    top: 40px;
    left: -300px;
    width: 275px;
    padding: 15px;
    font-size: 15px;
    font-family: inherit;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    background-color: #fff;
    z-index: 100;
    list-style: none;
    display: none;
}

.password-validation-info.visible {
    display: block;
}

.password-validation-info .validation-icon-invalid,
.password-validation-info .validation-icon-valid {
    padding-left: 30px;
    line-height: 30px;
    background-size: 30px;
}

.password-validation-info .validation-icon-invalid {
    background: url("../assets/icons/icon-invalid.webp") no-repeat 0px 1px;
}

.password-validation-info .validation-icon-valid {
    background: url("../assets/icons/icon-valid.png") no-repeat 0px 1px;
}

.password-validation-info::before,
.password-validation-info::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    line-height: 0px;
    position: absolute;
    border-width: 15px 0 15px 20px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ddd;
    top: 100px;
    right: -19px;
    display: block;
}

.password-validation-info::after {
    border-width: 0 15px 20px 15px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
    top: 105px;
    right: -22px;
    transform: rotate(90deg);
}

@media screen and (max-width: 1100px) {
    .password-validation-info {
        position: relative;
        top: 15px;
        left: 0;
    }

    .password-validation-info::before {
        top: -25px;
        right: unset;
        left: 21px;
        transform: rotate(-90deg);
    }

    .password-validation-info::after {
        top: -18px;
        left: 16px;
        right: unset;
        transform: rotate(0);
    }
}

@media screen and (max-width: 500px){
    .custom-form-wrapper {
        margin-top: 35px;
    }
}