.module-info{
    width: 100%;
    
    display: flex;
    justify-content: center;
    &__title{
        font-size: 26px;
        font-family: $font-open-sans--semi-bold;
        color:$color-dark-red;
    }
    &__content{
        width: 100%;
        max-width: 800px;
        margin: 32px 0;
       
    }
}

.deeplink-pg{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}