.calc-type-a {
    width: 90%;
    max-width: $max-module-width;
    padding:  0;
    margin: 0 auto;
    padding-top: 25px;
    background-color: transparent;
    color: $color-primary;

    &__title {
        font-family: $font-semi-bold;
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 12px;
        color: $color-secondary;

        &--medium {
            font-size: 18px;
        }

        &--small {
            font-size: 14px;
        }
    }

    &__text {
        font-family: $font-regular;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 20px;

        p {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }


        .bold {
            font-weight: bold;
            color: $color-black;
        }
    }

    &__table {
        margin: 30px auto;
    }

    &__table-title {
        font-family: $font-semi-bold;
        font-weight: 600;
        font-size: 14px;
        padding-left: 15px;
    }

    &__table-image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__table-bottom-text {
        margin-top: 30px;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 13px;
        padding-left: 15px;

        .bold {
            font-weight: bold;
            color: $color-black;
        }
    }

    &__list {
        font-family: $font-regular;
        font-size: 14px;
        list-style: disc;
        padding-left: 20px;
    }

    // Calculator
    &__calculator-container {
        width: 450px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__alerts-container {
        width: 100%;
    }

    &__alert {
        width: 100%;
        border-radius: 4px;
        border: 1px solid $color-notification-border;
        background-color: $color-notification-bg;
        padding: 8px;
        position: relative;
        margin-bottom: 20px;
        display: none;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 14px;

        &.calc-a-visible {
            display: block;
            animation-name: fadeIn;
            animation-duration: 1s;
            opacity: 1;
        }
    }

    &__alert-icon {
        width: 18px;
        height: 18px;
        display: inline-block;
        transform: translateY(4px);
        margin-right: 5px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__alert-close-button {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        font-weight: 900;
        text-align: center;
        transform: translateY(4px);

        &:hover {
            cursor: pointer;
        }
    }

    &__calculator {
        width: 100%;
        height: auto;
        border-radius: 15px;
        color: $color-primary;
    }

    &__inputs-container {
        display: flex;
        justify-content: space-between;

        &--two-inputs {
            justify-content: space-evenly;
        }
    }

    &__input-pair {
        width: 140px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__input {
        width: 100%;
        height: 60px;
        background-color: $color-input-background;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 15px;
        color: $color-black;
        border: none;
        border-radius: 5px;
        color: $color-black;
        padding: 0 50px 0 15px;
    }

    &__input-placeholder {
        position: absolute;
        top: 20px;
        right: 15px;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 15px;
        color: $color-primary;
    }

    &__input-label {
        color: $color-primary;
        text-align: center;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 12px;
        margin: 5px auto 0 auto;
        max-width: 105px;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
    }

    &__button {
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 4px;
        font-size: 15px;
        font-family: $font-medium;

        &--calculate {
            background-color: $color-secondary;
            border: none;
            color: $color-white;
        }

        &--calculator:hover {
            background-color: $color-secondary--hover;
        }

        &--reset {
            background-color: transparent;
            color: $color-primary;

            svg {
                transform: translateY(5px);
            }
        }

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__results-container {
        width: 300px;
        margin: 0 auto;
        padding: 20px 0;
        color: $color-primary;
        font-size: 14px;
        font-family: $font-regular;
        font-weight: 400;
        display: flex;

        .bold {
            font-weight: bold;
        }
    }

    &__results-left {
        margin-right: 12px;
    }

    &__result {
        margin-bottom: 20px;
        font-size: 14px;
        margin: 0 auto;
    }


}



@media screen and (max-width: $breakpoint-tablet--small) {
    .calc-type-a {

        &__calculator-container {
            width: 100%;
        }
        &__inputs-container,
        &__buttons-container {
            flex-direction: column;
        }

        &__input-pair{
            width: 230px;
            margin: 0 auto;
        }

        &__button{
            margin: 0 auto;

            &:first-of-type {
                margin-bottom: 10px;
            }
        }
    }
}