.margin-top-bot-15{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.font-italic {
    font-style: italic !important;
}


