{{ attach_library('dose_calculator/dose-calculator-ninlaro-css') }}
{{ attach_library('dose_calculator/dose-calculator-ninlaro-js') }}

        <section class="calculators-module">
            <div class="calculators-module__inner-wrapper">
                {% include '@dose_calculator/template-parts/ninlaroCalculator.html.twig' %}
            </div>
        </section>







