{{ attach_library('dose_calculator/dose-calculator-advante-css') }}
{{ attach_library('dose_calculator/dose-calculator-advante-js') }}

<title>{{ 'Calculator Module - Advante'|t }}</title>


        <!-- Dose Calculator Module -->
        <section class="calculators-module">
            <div class="calculators-module__inner-wrapper">
                {% include '@dose_calculator/template-parts/advanteCalculator.html.twig' %}
            </div>
        </section>






