@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInFromAbove {
    from {
        display: none;
        transform: translateY(-5000px);
    }

    to {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}