.adcetris-calculator {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  /* box neuro */
  /* BOX alert */
}
.adcetris-calculator .form-left .checkmark {
  background-color: #064c5d;
}
.adcetris-calculator .form-right .checkmark {
  background-color: #950d35;
}
.adcetris-calculator .container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 100;
}
.adcetris-calculator .container-radio strong {
  padding-top: 5px;
  font-weight: 700;
}
.adcetris-calculator .container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.adcetris-calculator .checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 15px;
  width: 15px;
  border: solid 1px white;
  border-radius: 50%;
}
.adcetris-calculator .container-radio input:checked ~ .checkmark {
  background-color: #fff;
}
.adcetris-calculator .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.adcetris-calculator .container-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid;
  background: white;
}
.adcetris-calculator .container {
  max-width: 100% !important;
}
.adcetris-calculator .adcetris-calculator {
  font-family: inherit;
  max-width: 700px;
  margin: auto;
}
.adcetris-calculator textarea:focus,
.adcetris-calculator input:focus {
  outline: none;
  font-size: 25px;
}
.adcetris-calculator label {
  display: initial;
}
.adcetris-calculator p {
  margin: 0;
  padding: 0;
}
.adcetris-calculator ::-webkit-input-placeholder {
  /* Edge */
  color: white;
}
.adcetris-calculator :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
.adcetris-calculator ::placeholder {
  color: white;
}
.adcetris-calculator input::-webkit-outer-spin-button,
.adcetris-calculator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.adcetris-calculator input[type=number] {
  -moz-appearance: textfield;
}
.adcetris-calculator .row {
  margin: auto;
}
.adcetris-calculator .adcetris-calculator h1 {
  font-weight: 400;
  color: #a31641;
  font-size: 28px;
  padding: 25px 0;
}
.adcetris-calculator .dialog-block {
  max-width: 665px;
  margin: auto;
  font-size: 19px;
  font-weight: 400;
}
.adcetris-calculator .top-dialog-block {
  background-color: #a31641;
  color: #ffffff;
  padding: 25px 65px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.adcetris-calculator .bottom-dialog-block {
  color: #53585a;
  background-color: #ebd0d8;
  padding: 0px 55px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
}
.adcetris-calculator .triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #a31641;
  margin: auto;
  padding-bottom: 25px;
}
.adcetris-calculator .insert {
  color: #53585a;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
  display: none;
}
.adcetris-calculator .forms-div {
  place-content: space-evenly;
  color: white;
}
.adcetris-calculator .form-right-col {
  padding-right: 0;
}
.adcetris-calculator .form-left-col {
  padding-left: 0;
}
.adcetris-calculator .forms-div h3 {
  font-size: 1.1em;
  text-align: center;
  font-weight: 500;
  color: white;
}
.adcetris-calculator .forms-div div form div {
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
}
.adcetris-calculator .form-right div {
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
}
.adcetris-calculator .forms-div p {
  color: #53585a;
}
.adcetris-calculator .form-right {
  padding: 25px 15px;
  height: 100%;
  border-radius: 10px;
}
.adcetris-calculator .form-left {
  padding: 25px 15px;
  height: 100%;
  border-radius: 10px;
}
.adcetris-calculator .fields .row:first-child {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  height: 85px;
  display: flex;
  align-items: center;
}
.adcetris-calculator .fields div div {
  padding: 0;
}
.adcetris-calculator .field1,
.adcetris-calculator .field2,
.adcetris-calculator .field3 {
  display: none;
  margin: auto;
}
.adcetris-calculator .fields input {
  color: white;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.adcetris-calculator .obs {
  font-size: 16px;
  margin: 40px auto;
  width: 80%;
  background: none !important;
  border: none;
  color: #616161;
}
.adcetris-calculator .fields {
  justify-content: center;
}
.adcetris-calculator .field1 {
  padding-left: 0;
}
.adcetris-calculator .field2 {
  padding: 0 6px;
}
.adcetris-calculator .field3 {
  padding-right: 0;
}
.adcetris-calculator .label-inputs {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.adcetris-calculator #frases {
  padding: 0;
}
.adcetris-calculator .p2,
.adcetris-calculator .p3 {
  display: none;
}
.adcetris-calculator .p1,
.adcetris-calculator .p2,
.adcetris-calculator .p3 {
  color: white !important;
  padding: 20px 75px;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  margin: 50px 0;
  border-radius: 10px;
}
.adcetris-calculator .data2 {
  display: none;
}
.adcetris-calculator .data-echelon1,
.adcetris-calculator .data-demais {
  display: none;
}
.adcetris-calculator .data p {
  text-align: center;
  color: #53585a;
  font-size: 16px;
  padding-top: 10px;
}
.adcetris-calculator .data input {
  width: 100%;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  padding: 8px;
}
.adcetris-calculator .data .col-md-2 {
  padding: 0 4px;
}
.adcetris-calculator .result {
  display: none;
}
.adcetris-calculator .result-div {
  border-radius: 10px;
}
.adcetris-calculator .result input,
.adcetris-calculator .result2 input {
  width: 65%;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  padding: 8px;
}
.adcetris-calculator .result .row,
.adcetris-calculator .result2 .row {
  padding: 20px 0;
  align-items: center;
}
.adcetris-calculator .result h2,
.adcetris-calculator .result2 h2 {
  color: #53585a;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  padding-top: 40px;
}
.adcetris-calculator .result .row .col-md-4:first-child,
.adcetris-calculator .result2 .row .col-md-4:first-child {
  text-align: right;
}
.adcetris-calculator .result .row .col-md-4:nth-child(3n),
.adcetris-calculator .result2 .row .col-md-4:nth-child(3n) {
  text-align: left;
}
.adcetris-calculator .result .row .col-md-4:nth-child(2n),
.adcetris-calculator .result2 .row .col-md-4:nth-child(2n) {
  text-align: center;
}
.adcetris-calculator .result .row .col-md-4:nth-child(3n) p,
.adcetris-calculator .result2 .row .col-md-4:nth-child(3n) p {
  width: 63%;
}
.adcetris-calculator .result .row .col-md-4,
.adcetris-calculator .result2 .row .col-md-4 {
  padding: 0;
}
.adcetris-calculator button {
  color: white;
  font-weight: 500;
  margin: auto;
  display: block;
  margin: 30px auto;
  padding: 11px 45px;
  border: none;
  font-size: 22px;
  border-radius: 10px;
}
.adcetris-calculator .dose-adjustment {
  width: 100%;
}
.adcetris-calculator .dose-adjustment img {
  margin-right: 20px;
}
.adcetris-calculator .button span {
  padding-right: 20px;
}
.adcetris-calculator .info-box {
  border-radius: 10px;
  margin: 50px auto;
  width: 100%;
  padding: 10px 65px;
  font-size: 12px;
  display: none;
  text-align: center;
}
.adcetris-calculator .info-box-bottom1,
.adcetris-calculator .info-box-bottom2 {
  border-radius: 10px;
  margin: 15px auto;
  width: 100%;
  padding: 10px 65px;
  font-size: 12px;
  display: none;
  text-align: center;
  text-transform: uppercase;
}
.adcetris-calculator .gray-dark {
  background-color: #707070 !important;
  color: #ffffff !important;
}
.adcetris-calculator .info-box3 {
  border-radius: 10px;
  display: none;
  margin: 50px auto;
  width: 100%;
  padding: 10px 65px;
  font-size: 12px;
  text-align: center;
}
.adcetris-calculator .title-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  width: 104%;
}
.adcetris-calculator .title-img h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 10px;
}
.adcetris-calculator .p-info-box {
  margin-top: -35px;
  padding-bottom: 15px;
}
.adcetris-calculator .title-img img {
  height: auto;
  width: 40px;
  margin-top: 20px;
}
.adcetris-calculator .p-info-box,
.adcetris-calculator .p-info-box3 {
  text-transform: uppercase;
  color: #616161;
  width: 95%;
}
.adcetris-calculator .neuros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  display: none;
}
.adcetris-calculator .neuro-head {
  width: 100%;
  margin-bottom: 10px;
}
.adcetris-calculator .neuro-head p {
  font-size: 18px !important;
}
.adcetris-calculator .active-bg {
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
}
.adcetris-calculator .color-third {
  padding: 20px 40px;
  border-radius: 10px;
  color: #616161;
  font-size: 14px;
}
.adcetris-calculator .texto-branco {
  color: #fff;
  font-weight: 100;
}
.adcetris-calculator .neuro-head-content {
  text-align: center;
  cursor: pointer;
}
.adcetris-calculator .neuro-content,
.adcetris-calculator .neuro-content2 {
  width: 100%;
  display: none;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-between;
}
.adcetris-calculator .neuro-content .col-md-3,
.adcetris-calculator .neuro-content2 .col-md-3 {
  padding: 0;
}
.adcetris-calculator .neuro-content2 {
  display: none;
}
.adcetris-calculator .neuro-content .neuro-content-content {
  margin-top: 5px !important;
  padding: 18px !important;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 100;
}
.adcetris-calculator .neuro-content2 .neuro-content-content {
  margin-top: 5px !important;
  padding: 18px 40px !important;
  margin-bottom: 20px;
  text-align: center;
  min-height: 175px;
}
.adcetris-calculator .neuro-content-content {
  cursor: pointer;
  width: 90%;
  margin: auto;
  min-height: 207px;
}
.adcetris-calculator .box-alert-motora {
  margin-top: 60px !important;
  display: none;
}
.adcetris-calculator .neutropenia,
.adcetris-calculator .neuropatia {
  width: 95%;
  margin: auto;
}
.adcetris-calculator .neuro-head .col-md-6 {
  padding: 0;
}
.adcetris-calculator .neuro-content-content p span {
  font-size: 20px !important;
}
.adcetris-calculator .go-back {
  width: auto;
  text-align: right;
  padding: 14px;
  font-size: 18px;
  display: none;
  cursor: pointer;
  margin-top: 50px;
  margin-left: auto;
  border-radius: 15px;
  max-width: 235px;
}
.adcetris-calculator .box-alert {
  width: 100%;
  margin: auto;
  background-color: #a11a42;
  color: #fff;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 60px;
}
.adcetris-calculator .box-alert2,
.adcetris-calculator .box-alert1 {
  display: none;
}
.adcetris-calculator .box-alert p {
  margin: auto;
  font-size: 18px;
}
.adcetris-calculator .table {
  margin: auto !important;
  margin-top: 100px !important;
  width: 100%;
  padding: 0;
}
.adcetris-calculator .table table,
.adcetris-calculator .table table td {
  border: none !important;
}
.adcetris-calculator th {
  color: white !important;
  font-weight: 700 !important;
  font-size: 25px !important;
  height: 60px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  position: relative !important;
  padding: 0px 60px;
}
.adcetris-calculator .table table tr {
  color: #fff !important;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.adcetris-calculator .table td {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
}
.adcetris-calculator tr td {
  width: 100%;
  margin: auto 50px !important;
}
.adcetris-calculator .table-form {
  padding: 30px;
}
.adcetris-calculator .table-form label {
  margin-left: 20px;
}

@media only screen and (max-width: 767px) {
  .adcetris-calculator .field1,
.adcetris-calculator .field2,
.adcetris-calculator .field3 {
    padding: 20px 0;
    /* display: flex; */
    flex-flow: column-reverse;
  }
  .adcetris-calculator .neuro-content-content,
.adcetris-calculator .neuro-content2 {
    min-height: auto !important;
  }
  .adcetris-calculator .neutropenia {
    margin-top: 25px;
  }
  .adcetris-calculator .form-left-col,
.adcetris-calculator .form-right-col {
    padding: 0;
  }
  .adcetris-calculator .fields div div {
    max-width: 250px;
  }
  .adcetris-calculator .form-left-col {
    margin-bottom: 30px;
  }
  .adcetris-calculator .container {
    max-width: 90% !important;
  }
}
@media only screen and (max-width: 576px) {
  .adcetris-calculator .form-left,
.adcetris-calculator .form-right {
    border-radius: 0;
    margin-left: -12px;
    width: calc(100% + 24px);
  }
  .adcetris-calculator .form-left-col {
    margin-bottom: 0px;
  }
  .adcetris-calculator .neuro-content-content {
    min-height: 100px;
  }
  .adcetris-calculator .container {
    max-width: 100% !important;
  }
  .adcetris-calculator .result input {
    width: 80%;
    font-size: 21px;
  }
}
@media screen and (max-width: 430px) {
  .adcetris-calculator .forms-div h1 {
    text-align: center;
  }
  .adcetris-calculator th {
    text-align: center;
  }
  .adcetris-calculator .data p {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: center;
  }
  .adcetris-calculator .result2 .row .col-md-4:nth-child(3n) p {
    width: 100%;
  }
  .adcetris-calculator .result2 h2 {
    font-size: 15px;
  }
  .adcetris-calculator .result input,
.adcetris-calculator .result2 input {
    font-size: 18px;
  }
  .adcetris-calculator .go-back {
    margin-right: auto;
  }
}