{#
/**
 * @file
 * Default theme implementation to display a Brightcove experience.
 *
 * @ingroup themeable
 */
#}
<div class="takeda_brightcove--experience" style="position: relative; display: block;">
<div>
    <div data-experience="{{video_id}}"></div>
    <script src="{{ script_url }}"></script>
  </div>
</div>
