@font-face {
    font-family: "Open Sans Light";
    src: url("../../assets/fonts/OpenSans-Light.woff");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../../assets/fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "Open Sans Medium";
    src: url("../../assets/fonts/OpenSans-Medium.woff");
}

@font-face {
    font-family: "Open Sans Regular Italic";
    src: url("../../assets/fonts/OpenSans-Italic.woff");
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../../assets/fonts/OpenSans-Bold.woff");
}

@font-face {
    font-family: "Open Sans Extra Bold";
    src: url("../../assets/fonts/OpenSans-ExtraBold.woff");
}
