// --- Colors ---
$color-white: white;
$color-black: black;
$color-primary: #34373F;
$color-secondary: #BD120A;
$color-secondary--hover: #891515;
$color-border: #4C9BCF;
$color-input-background:rgba(237, 242, 244, 0.50);

// --- Fonts ---
$font-light: "Open Sans Light", sans-serif;
$font-regular: "Open Sans Regular", sans-serif;
$font-medium: "Open Sans Medium", sans-serif;
$font-regular-italic: "Open Sans Regular Italic", sans-serif;
$font-semi-bold: "Open Sans SemiBold", sans-serif;
$font-bold: "Open Sans Bold", sans-serif;
$font-extra-bold: "Open Sans Extra Bold", sans-serif;

//  --- Breakpoints
$breakpoint-tablet--big: 1024px;
$breakpoint-tablet--small: 769px;
$breakpoint-phone: 480px;

// --- Other ---
$max-module-width: 800px;