@font-face {
    font-family: "Rubik";
    src: url("../../assets/adynovate/fonts/Rubik-Regular.woff") format("woff");
    font-weight: 400;
} 

@font-face {
    font-family: "Rubik Bold";
    src: url("../../assets/adynovate/fonts/Rubik-Bold.woff") format("woff");
    font-weight: 700;
} 


