// --- Colors ---
$color-primary: #34373F;
$color-secondary: #a2ce57;
$color-tertiary: #660066;
$color-white: white;
$color-gray--dark: #767676;
$color-gray--light: #efefef;
$color-alert-bg: #fff4cb;
$color-information-bg: rgba(215, 220, 222, 20%);

// --- Fonts ---
$font-rubik--regular: "Rubik";
$font-rubik--bold: "Rubik Bold";