// --- Colors ---
$color-primary: #34373F;
$color-secondary: #E1242A;
$color-white: white;
$color-gray--dark:#767676;
$color-gray--light: #efefef;
$color-alert-bg: #fff4cb;

// --- Fonts ---
$font-rubik--regular: "Rubik";
$font-rubik--bold: "Rubik Bold";    

