<body>
    <div class="tcm-footer-on-bottom">
        {% include directory ~ '/templates/block/header.html.twig' %}
        <main class="tcm-main-padding-top">
            {{ page.content }}     
            
        </main>
    </div>
    {% include directory ~ '/templates/block/footer.html.twig' %}
    {% include directory ~ '/templates/block/mobile-menu.html.twig' %}
</body>